.card {
}
.card__img {
}
.card__colors {
}
.card__colors-item {
}
.card__option {
}
.card__title {
}
.card__price {
}

.btn {
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  border-radius: 22px;
  letter-spacing: -0.37px;
  border: none;
  background-color: rgba(0, 113, 227, 1);
  color: rgba(255, 255, 255, 1);
}
.btn--outlined {
  background-color: transparent;
  color: rgba(41, 151, 255, 1);
  border: 1px solid rgba(41, 151, 255, 1);
}
.btn--white {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}
.btn--whiteoutlined {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.main-img {
  aspect-ratio: 1/1;
  background-image: url(Link.png);
  background-position: center;
}
.products {
  width: 1920px;
  height: 1700px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.items {
  width: calc(50% - 8px);
  height: 500px;
  background-image: url(Figure.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.side-img {
  max-width: 1900px;
  height: 500px;
  background-image: url(Link.png);
  margin: 0 auto;
}

.card {
  height: 500px;
  background-color: aqua;
  position: relative;
}
.card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.bottom-img {
  width: 1900px;
  height: 1500px;
  background-image: url(Figure.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.last-img {
  width: 1900px;
  height: 1500px;
  object-fit: contain;
}
